<div class="container">
  <h2>Workers List</h2>

  <app-create-user></app-create-user>

  <!--<div class="row">
    <div class="col-xs-12 col-md-6">
      <input [(ngModel)]="workerName"
             class="form-control"
             type="text"
             placeholder="Type worker name">
    </div>
    <div class="col-xs-12 col-md-6">
      <button (click)="addWorker()"
              class="btn btn-primary"
              [disabled]="workerName == ''">
        Add Worker
      </button>
    </div>
  </div>-->

  <br />

  <!-- Error alert -->
  <ngb-alert *ngIf="errorMessage">{{ errorMessage }}</ngb-alert>

  <div *ngIf="loading" class="text-center">
    <div *ngIf="loading" class="lds-ring"><div></div><div></div><div></div><div></div></div>
  </div>

  <!-- List of workers -->
  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel *ngFor="let worker of workers">
      <ng-template ngbPanelHeader let-opened="opened">
        <div class="accordion-button custom-header justify-content-between" [class.collapsed]="!opened">
          <p class="m-0">{{worker.name}}</p>
          <div>
            <button type="button"
                    title="Edit"
                    class="btn btn-sm btn-outline-secondary ms-2">
              <i class="bi bi-pencil"></i>
            </button>
            <button type="button"
                    title="Delete"
                    class="btn btn-sm btn-outline-danger ms-2">
              <i class="bi bi-trash"></i>
            </button>
            <button ngbPanelToggle
                    class="btn btn-sm btn-link ms-2">
              <i [ngClass]="!opened ? 'bi bi-chevron-down' : 'bi bi-chevron-up'"></i>
            </button>
          </div>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>

        <app-worker-detail [worker]="worker"
                           [autoTracking]="worker.autoTracking"></app-worker-detail>

      </ng-template>
    </ngb-panel>
  </ngb-accordion>

  <br />

  <!--<button type="button" class="btn btn-primary me-2" (click)="onStoreWorkers()">Store workers</button>
  <button type="button" class="btn btn-primary" (click)="onFetchWorkers()">Fetch workers</button>-->

</div>
