<div class="container">

  <h2>Worker<span *ngIf="user?.role === 'admin'">s</span> Dayworks</h2>

  <!-- Date range spinner -->

  <div class="row justify-content-start text-responsive">
    <div class="col col-auto" (click)="onPrevDateRange()">
      <!--<button class="btn btn-sm btn-link" (click)="onPrevDateRange()">
        <i class="bi bi-chevron-left"></i>
      </button>-->
      <i class="bi bi-chevron-left"></i>
    </div>
    <div class="col col-auto">
      <p>{{dateRange.startDate.toDateString()}} - {{dateRange.endDate.toDateString()}}</p>
    </div>
    <div class="col col-auto" [ngClass]="{'d-none': !hasNextDateRange()}" (click)="onNextDateRange()">
      <!--<button class="btn btn-sm btn-link" (click)="onNextDateRange()"
              [disabled]="!hasNextDateRange()">
        <i class="bi bi-chevron-right"></i>
      </button>-->
      <i class="bi bi-chevron-right"></i>
    </div>
  </div>

  <br />

  <!-- Loading spinner -->
  <div class="text-center" *ngIf="isLoading">
    <app-loading-spinner></app-loading-spinner>
  </div>

  <!-- List of workers -->
  <ngb-accordion type="light" #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel *ngFor="let worker of workers"
               title="{{ worker.name }}">
      <ng-template ngbPanelContent>

        <app-worker-dayworks [worker]="worker"
                             [dateRange]="dateRange"
                             [role]="role"
                             [dayworks]="workersDayworks[worker.id]">

        </app-worker-dayworks>

      </ng-template>
    </ngb-panel>
  </ngb-accordion>

</div>

<ng-template #tt>
  <td class="text-center pt-0">
    <div class="float-end">22</div>
    <div class="mt-2">
      <i class="bi bi-check-circle text-success"></i>
    </div>
  </td>
</ng-template>
