<div class="row">
  <table class="table table-bordered">
    <thead class="text-center text-secondary bg-light">
      <tr>
        <th scope="col">Mon</th>
        <th scope="col">Tue</th>
        <th scope="col">Wed</th>
        <th scope="col">Thu</th>
        <th scope="col">Fri</th>
        <th scope="col">Sat</th>
        <th scope="col">Sun</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td [ngbPopover]="popContent"
            #popOver="ngbPopover"
            [popoverTitle]="popTitle"
            triggers="dblclick"
            class="text-center pt-0" style="width:14%"
            [ngClass]="{'bg-warning': dateRange.isTodayInRange() && dateRange.days()[dayIndex] === dateRange.today.getDate()}"
            *ngFor="let dw of dayworks?.slice(0,7) let dayIndex=index"
            (click)="onDayworkClick(dayIndex)"
            (dblclick)="onDayworkDoubleClick(dayIndex)">
          <div class="float-end">{{dateRange.days()[dayIndex]}}</div>
          <div class="mt-4" *ngIf="dw.status else placeholderIcon">
            <i class="bi bi-check-circle text-success"></i>
          </div>
          <div class="float-end" *ngIf="dw.status && dw.diffHours">{{dw.diffHours}}h</div>
        </td>
      </tr>
      <tr>
        <td [ngbPopover]="popContent" #popOver="ngbPopover" [popoverTitle]="popTitle" triggers="dblclick"
            class="text-center pt-0"
            [ngClass]="{'bg-warning': dateRange.isTodayInRange() && dateRange.days()[7+dayIndex] === dateRange.today.getDate()}"
            *ngFor="let dw of dayworks?.slice(7,14) let dayIndex=index"
            (click)="onDayworkClick(dayIndex+7)"
            (dblclick)="onDayworkDoubleClick(dayIndex+7)">
          <div class="float-end">{{dateRange.days()[7+dayIndex]}}</div>
          <div class="mt-4" *ngIf="dw.status else placeholderIcon">
            <i class="bi bi-check-circle text-success"></i>
          </div>
          <div class="float-end" *ngIf="dw.status && dw.diffHours">{{dw.diffHours}}h</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="d-block clearfix">
  <div class="float-end text-muted mr-2" *ngIf="totalDays">
    Total: {{totalDays}}d<span *ngIf="hours !== 0"> {{hours}}h</span>
    <button class="ms-2 btn btn-sm btn-success"
            *ngIf="dateRange.endDate.before(today)"
            (click)="openModal(modalContent)">
      ...<i class="bi bi-currency-pound"></i>
    </button>
  </div>
</div>

<!--
****** ng-templates *******
-->

<ng-template #placeholderIcon>
  <div class="mt-4 invisible">
    <i class="bi bi-plus text-white"></i>
  </div>
</ng-template>

<!-- Popover template -->

<ng-template #popTitle>
  Part-time Setup
  <div class="float-end" (click)="onPopoverClose()">
    <i class="bi bi-x-lg"></i>
  </div>
</ng-template>

<ng-template #popContent>
  <h2>{{selectedDate.toDateString()}}</h2>
  <p>Setup additional hours.</p>
  <app-number-picker
    [pickerText]=partTimeHourPickerText></app-number-picker>
</ng-template>

<!-- Calculate money Modal Template -->
<ng-template #modalContent let-modal>
  <!-- header -->
  <div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title">Payment Info</h2>
    <!--<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>-->
  </div>
  <!-- body -->
  <div class="modal-body">
    <pre><strong>{{worker.name}}</strong>
Period: <strong>{{dateRange.startDate | date: 'd/MM/YYYY'}} - {{dateRange.endDate | date: 'd/MM/YYYY'}}</strong>
Working days: <strong>{{totalDays}} days <span *ngIf="hours">[{{hours}}h]</span></strong>
  <!--To date: {{today | date: 'd/MM/YYYY hh:mm'}}-->
</pre>

    <p class="text-success text-center" style="font-size: 3em">
      £{{paymentAfterTax}}
    </p>

    <div class="mb-1">Payment per day</div>
    <app-number-picker [pickerText]=dayPayPickerText
                       [minValue]="120"
                       [maxValue]="200"
                       [step]="10"
                       [pickable]="false"
                       [defaultValue]=dayPayDefaultValue></app-number-picker>
  </div>
  <!-- footer -->
  <div class="modal-footer">
    <button type="button" ngbAutoFocus class="btn btn-outline-success" (click)="modal.close('Ok click')">Ok</button>
  </div>
</ng-template>
